.main-content{
    margin: 10px
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    justify-content: center;
    
}

.left-side{
    grid-column: 1 ;
}

.right-side{
 grid-column: 3;

}

.center-side{
    grid-column: 2;
    border: 2px solid black;
}

.trailers-info{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.characters-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}