.main-content{
    margin: 10px
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
}

.left-side{
    grid-column: 1 ;
}

.right-side{
 grid-column: 3;

}

.center-side{
    grid-column: 2;
}

.trailers-info{

}

.characters-info{
    display: flex;
    gap: 30px;
    align-items: center;
}